.div1-dark {
    background-color:  black;
    color: white;
}

.div2-dark {
    background-color: gray;
    color: white;
}
.div3{
    color: white;
}
.body {
    background-color: black;
}